{
    "name": "mdnsd",
    "bin": "/sbin/mdnsd",
    "user": "mdns",
    "group": "dns",
    "user": "dns",
    "fulfills": "mdns",
    "needs_targets": [""]
}